
**/docker
**/.classpath
**/.project
**/.settings
**/target
**/.metadata/
iot-stream-ingestion-demo/kafka-connect/**
oracle-stream-analytics/spark-osa.jar
Servers/Pivotal tc Server Developer Edition v4.0-config/catalina.policy
Servers/Pivotal tc Server Developer Edition v4.0-config/catalina.properties
Servers/Pivotal tc Server Developer Edition v4.0-config/context.xml
Servers/Pivotal tc Server Developer Edition v4.0-config/jmxremote.access
Servers/Pivotal tc Server Developer Edition v4.0-config/jmxremote.password
Servers/Pivotal tc Server Developer Edition v4.0-config/server.xml
Servers/Pivotal tc Server Developer Edition v4.0-config/tomcat-users.xml
Servers/Pivotal tc Server Developer Edition v4.0-config/web.xml
**/.recommenders/**
**/data/**
